VITE_FIREBASE_API_KEY="AIzaSyAm57vO8375f5As50hI-tpSgqH1qwg9cPc",
VITE_FIREBASE_AUTH_DOMAIN="nairobi-outfit-checker.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID="nairobi-outfit-checker",
VITE_FIREBASE_STORAGE_BUCKET="nairobi-outfit-checker.firebasestorage.app",
VITE_FIREBASE_MESSAGING_SENDER_ID="601345642911",
VITE_FIREBASE_APP_ID="1:601345642911:web:f6d5c5565bee371458adaa",
VITE DATABASE_URL="https://nairobi-outfit-checker-default-rtdb.firebaseio.com"
VITE_FIREBASE_MEASUREMENT_ID="G-LLY3WFKB8P"
